
.container-fluid{
    font-size: 35px;
    font-weight: bold;
    .button-creator{
        position: fixed;
        left: 32cm;
        top: 1.9cm;
        font-size: 15px;
        font-weight: bold;
    }

}