 
<div class="card">
    <div class="card-header">
      Laura a 5km de distancia
    </div>
    <div class="card-body">
      <img src="https://preview.redd.it/mejico-majico-v0-zzputmw0fqaa1.png?width=639&format=png&auto=webp&s=6a9c0e08456ce9ec31b5361b6022f8354a05d01c" width="200" height="200">
      <h5 class="card-title">{{tarjeta.tituloTarjeta}}</h5>
      <p class="card-text">{{tarjeta.Descripcion}}</p>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        lanzar
      </button>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><img src="https://i.pinimg.com/originals/82/23/a5/8223a5ae491bed504bcdd5c7518927f8.jpg" width="400" height="300"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Pozole
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cierra</button>
          <button type="button" class="btn btn-primary">JAJJA</button>
        </div>
      </div>
    </div>
  </div>
  <p>la variable es</p>
  <h3>{{ejemplo}}</h3>
  <h3>{{jajas}}</h3>

