.card{
    background-color:rgb(40,200, 100);
    h6{
        font-size: 30px;
    }
    h5{
        font-weight: 800;
        color: cyan;
    }
    p{
        color:rgb(200, 32,53);
        font-size: 25px;
        font-style: italic;
    }
    position: fixed;
     left: 12cm;
     right: 12cm;
    }
    